.wrapper{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("/assets/images/mario.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.wrapper-mobil{
    width: 100%;
    height: 100vh;
    background-color: #000000;
    background-image: url("/assets/images/luigi.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
}

.desk{
    width: 100%;
    height: 707px;
    
}